<div class="row">
  <div class="col s6 offset-s3">

    <div class="z-depth-4 card teal darken-1">
      <div class="card-content">
        <h6 class="hide-on-med-and-up header ligjt white-text">PRegistrazione</h6>
        <h2 class="hide-on-small-only header ligjt white-text">GRegistrazione</h2>
      </div>

      <form materialize class="card-content white" #registrationForm="ngForm">
        <div class="row">

          <div class="input-field col s6">
            <input required [(ngModel)]="form.name" name="name" id="name" type="text" class="validate">
            <label for="name">Nome</label>
          </div>

          <div class="input-field col s6">
            <input required [(ngModel)]="form.lastname" name="lastname" id="lastname" type="text" class="validate">
            <label for="lastname">Cognome</label>
          </div>
        </div>
        <div class="row">

          <div class="input-field col s6">
            <input required [(ngModel)]="form.email" name="email" id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>

          <div class="input-field col s6">
            <input required [(ngModel)]="form.phone" name="phone" id="phone" type="tel" class="validate">
            <label for="phone">Telefono</label>
          </div>
        </div>

        <div class="row">

          <div class="input-field col s6">
            <input required [(ngModel)]="form.password" name="password" id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>

          <div class="input-field col s6">
            <input required [(ngModel)]="form.repeatedPassword" name="repeatedPassword" id="repeatedPassword" type="password" class="validate">
            <label for="repeatedPassword">Ripeti password</label>
          </div>
        </div>


        <div class="row">
          <div class="col s12">
            <input required [(ngModel)]="form.privacyTerms" name="privacyTerms" id="privacyTerms" type="checkbox">
            <label for="privacyTerms">Accetto e sottoscrivo</label>
          </div>

          <div class="mt-20 col s12 center-align">
            <button [disabled]="!registrationForm.valid" type="submit" class="waves-effect waves-light btn-large">Registrati</button>
          </div>

        </div>

      </form>

    </div>
  </div>
</div>
