<div class="navbar-fixed">

  <ul id="user-dropdown" class="dropdown-content">
    <li><a (click)="logout()">Logout</a></li>
  </ul>
 

  <nav>
    <div class="nav-wrapper teal darken-1">
      <a href="#" class="brand-logo">App bellissima con materialize</a>
      <ul class="right" [hidden]="isLoggedIn">
        <li><a routerLink="/login">Login</a></li>
      </ul>

      <ul class="right" [hidden]="!isLoggedIn">
        <li>
          <a materialize="dropdown" 
          data-beloworigin="true" data-activates="user-dropdown" class="dropdow-button">
              {{user ? user.username : 'N.D.'}}</a>
        </li>
      </ul>
    </div>


  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
